*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    color: #3e168f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body > .line{
    width: 100%;
    height: 2px;
    background-color: #3e168f;
    margin-top: 10%;
}

.footer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container{
   width: 80%;
   height: 50%;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   /* border: 2px solid black; */
   


}

.container > .upper-part{
   display: flex;
   justify-content: space-between;
   align-items: center;

}

.container > .upper-part >.right button,.container > .upper-part >.right input{
  padding: 10px 10px;
  border-radius: 20px;
  border: 2px solid #3e168f;

}

.container > .upper-part >.right button{
    background-color: #3e168f;
    color: #ffffff;
    transition: 0.25s;
    cursor: pointer;
}
.container > .upper-part >.right button:hover{
    color: #3e168f;
    background-color: #ffffff;
}

.container > .middle-part{
    display: flex;
    gap: 30px;
}
.container > .middle-part > .left{
   width: 30%;
}
.container > .middle-part > .right {
    display: flex;
    width: 70%;
    justify-content: space-between;

}
.container > .middle-part > .right .list > ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container > .lower-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container > .lower-part > .right{
    display: flex;
    align-items: center;
    gap: 10px;
}